/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    color: white
}

.cdk-overlay-container {
  z-index: 9999999 !important;
}

.cdk-overlay-backdrop {
  z-index: 9999998 !important;
}

.cdk-global-overlay-wrapper {
  z-index: 9999999 !important;
}

.trend-modal-container {
  z-index: 9999999 !important;
}
