@import 'material-symbols';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    color: white
}

.cdk-overlay-container {
  z-index: 9999999 !important;
}

.cdk-overlay-backdrop {
  z-index: 9999998 !important;
}

.cdk-global-overlay-wrapper {
  z-index: 9999999 !important;
}

.trend-modal-container {
  z-index: 9999999 !important;
}


/* 1. Colore del cerchietto quando è selezionato (Stato Checked) */
.mat-mdc-radio-button.mat-mdc-radio-button-checked .mdc-radio__icon {
  color: #007bff !important; /* Il tuo blu */
}

/* 2. Colore del cerchietto quando è selezionato ma ha il focus (per accessibilità) */
.mat-mdc-radio-button.mat-mdc-radio-button-checked:focus .mdc-radio__icon {
  color: #0056b3 !important; /* Un blu più scuro */
}

/* 3. Colore dell'onda (Ripple) quando clicchi */
.mat-mdc-radio-button .mat-ripple-element {
  background-color: rgba(0, 123, 255, 0.2) !important;
}

/* 4. Se usi una versione vecchia di Angular Material (Pre-v15)
   Questo blocco serve per coprire i vecchi componenti "Legacy" */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-container .mat-radio-outer-circle,
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-container .mat-radio-outer-circle {
  border-color: #007bff !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-container .mat-radio-inner-circle {
  border-color: #007bff !important;
}
