<div class="mainContainer" style="margin-top: 20%">
  <div class="container">
    <div class="form-container">
      <h2 style="color: black">Create interest area</h2>

      <form (ngSubmit)="loadData()">

        <div class="form-group">
          <label for="dataType">Nome area di interesse*:</label>
          <input type="text" id="dataType" name="dataType" [(ngModel)]="data.name">
        </div>
        <div class="form-group">
          <label for="dataType">Descrizione:</label>
          <input type="text" id="description" name="description" [(ngModel)]="data.description">
        </div>
        <div class="form-group">
          <label for="dataType">Tipo:</label>
          <input type="text" id="type" name="type" [(ngModel)]="data.type">
        </div>

        <div class="form-group">
          <label for="file">Carica shapefile:</label>
          <input type="file" id="file" name="file"  (change)="caricaFile($event)">
        </div>



        <div style="display: flex">

          <button type="submit" style="margin-top: 10%; color: white" >Carica dato</button>
        </div>
      </form>

    </div>
  </div>
</div>
[disabled]="!formValido()"
