<mat-toolbar>
    <span routerLink="/home" style="cursor: pointer;">WManager</span>
    <div style="padding-left: 80%;">
        
        <mat-icon  *ngIf="logStringResult == 'Login'" fontSet="material-symbols-outlined" routerLink="/login" style="cursor: pointer;">login</mat-icon>

        <a *ngIf="logStringResult !== 'Login'" (click)="logOut()"  style="color:black; margin-left: 5%; text-decoration: none;  cursor: pointer;">
            <a   *ngIf="logStringResult !== 'Login'" (click)="redirectToProfile()" style="color: black; cursor: pointer;">
                <span>{{ logStringResult }}</span>
              </a>
            <span style="margin-left: 8%;">Esci</span></a>
            
    </div>
</mat-toolbar>
<router-outlet></router-outlet>