<div class="row">
  <app-user class="col-sm-2"></app-user>
  <div class="col" style="max-width: 25%; margin: 6%" >
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <form class="example-form centered-form">
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Name*:</label>
            <input type="email" class="form-control form-control-lg"
                   placeholder="First Name:" id="first" name="first"  required />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Last Name*:</label>
            <input class="form-control form-control-lg"
                   placeholder="Last Name:" id="last" name="last"  required />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Password*:</label>
            <input class="form-control form-control-lg"
                   placeholder="Password:" type="password" id="dataType" name="password"  required/>
          </div>

          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" >Carica dato</button>
        </form>
      </div>
    </div>
  </div>
</div>


