<div class="row">
  <app-user class="col-sm-2"></app-user>
  <div class="col-sm-4" >
    <div class="container-fluid">
      <div >
        <label class="form-label" style="color: black">Name:</label>
        <label class="form-label" style="color: black">XXX</label>
      </div>
      <div >
        <label class="form-label" style="color: black">Last Name:</label>
        <label class="form-label" style="color: black">XXX</label>
      </div>
      <div >
        <label class="form-label" style="color: black">Password:</label>
        <label class="form-label" style="color: black">XXX</label>
      </div>
    </div>
  </div>
</div>
