<div class="interest-area-container" *ngIf="interestAreaList.length > 0; else noAreas">
  <div *ngFor="let area of interestAreaList" class="interest-area-item" (click)="redirect(area)">
    <!-- Thumbnail -->
    <div class="thumbnail">
      <img
        [src]="'assets/default-thumbnail.jpg'"
        alt="Thumbnail"
      />
    </div>
    <!-- Info Section -->
    <div class="info">
      <h3 class="title">{{ area.name }}</h3>
      <p class="description">{{ area.description }}</p>
      <div class="user-info">Created by: {{ area.userId }}</div>
    </div>
  </div>
</div>

<ng-template #noAreas>
  <div class="no-areas-message">
    <h2>No public areas found</h2>
    <p>It seems like there are no public areas available at the moment.</p>
  </div>
</ng-template>
