<div class="row" style="display: flex; height: 100vh;">
  <!-- Barra laterale sinistra -->
  <app-user style="flex: 0 0 250px; border-right: 1px solid #ddd;"></app-user>

  <!-- Contenitore della tabella -->
  <div class="table-container" style="flex: 1; padding: 10px;">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Public?</th>
        <th>Geometry</th>
        <th>Actions</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let interestArea of interestAreaList; let i = index">
        <td>{{ interestArea.id }}</td>

        <!-- Name -->
        <td *ngIf="!interestArea.isEditing">{{ interestArea.name }}</td>
        <td *ngIf="interestArea.isEditing">
          <input  type="text" class="form-control"  [(ngModel)]="interestArea.name" />
        </td>

        <!-- Description -->
        <td *ngIf="!interestArea.isEditing">{{ interestArea.description }}</td>
        <td *ngIf="interestArea.isEditing">
          <input  type="text" class="form-control"  [(ngModel)]="interestArea.description" />
        </td>

        <!-- Type -->
        <td *ngIf="!interestArea.isEditing">{{ interestArea.type }}</td>
        <td *ngIf="interestArea.isEditing">
          <input  type="text" class="form-control"  [(ngModel)]="interestArea.type" />
        </td>

        <!-- isPublic -->

        <td *ngIf="!interestArea.isEditing">
          <ng-container *ngIf="interestArea.isPublic">Yes</ng-container>
          <ng-container *ngIf="!interestArea.isPublic">No</ng-container>
        </td>
        <td *ngIf="interestArea.isEditing">
          <mat-radio-group [(ngModel)]="interestArea.isPublic">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </td>

        <!-- Type -->
        <td *ngIf="!interestArea.isEditing"></td>
        <td *ngIf="interestArea.isEditing">
          <input type="file" id="file" name="file"  (change)="caricaFile($event)">
        </td>

        <!-- Actions -->
        <td>
          <button  style="margin: 4%" class="btn btn-primary" *ngIf="!interestArea.isEditing" (click)="startEdit(interestArea)">Modify</button>
          <button style="margin: 4%" class="btn btn-primary" *ngIf="interestArea.isEditing" (click)="saveEdit(interestArea)">Save</button>
          <button  style="margin: 4%" class="btn btn-primary" *ngIf="interestArea.isEditing" (click)="cancelEdit(interestArea)">Cancel</button>
        </td>

        <td>
          <button  style="margin: 4%; background-color: darkred;  border-color: darkred" class="btn btn-primary" (click)="delete(interestArea)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
