<div class="row">
  <app-user class="col-sm-2"></app-user>
  <div class="col">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <form (ngSubmit)="loadData()" class="example-form centered-form">
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Company Name*:</label>
            <input type="text" class="form-control form-control-lg"
                   placeholder="Name:" id="company" name="company" [(ngModel)]="data.companyName" required />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Description*:</label>
            <input class="form-control form-control-lg"
                   placeholder="Description:" id="description" name="description" [(ngModel)]="data.description" required />
          </div>


          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Password*:</label>
            <input class="form-control form-control-lg"
                   placeholder="Password:" type="password" id="password" name="password" [(ngModel)]="data.password" required>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Type*:</label>
            <input class="form-control form-control-lg" id="type" name="type"  placeholder="Type:"[(ngModel)]="data.type" required>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" style="color: black">Payload Type*:</label>
            <select class="form-control form-control-lg"
                    id="payloadType"
                    name="type"
                    [(ngModel)]="data.payloadType"
                    required>
              <option *ngFor="let type of fileTypes" [value]="type">{{ type }}</option>
            </select>
          </div>



          <div class="full-width">
            <label style="color: black">Seleziona Area di Interesse*</label>
            <mat-radio-group [(ngModel)]="data.interestAreaId" name="interestArea" required>
              <mat-radio-button *ngFor="let area of interestAreaNames" [value]="area.id" class="white-text">
                {{ area.name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>



          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!controllo()">Create Sensor</button>
        </form>
      </div>
    </div>
  </div>
</div>
