<div class="container-fluid">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/forecast">
        <img src="assets/img/logo-tech4you.png" style="height: 3rem">
      </a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!inArea" class="nav-item mx-0 mx-lg-1 dropdown">
            <a class="nav-link py-3 px-0 px-lg-3 dropdown-toggle" id="NavbarObs" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Observations
            </a>
            <div class="dropdown-menu" aria-labelledby="NavbarObs">
              <a class="dropdown-item" (click)="redirectToGroundStations()">Ground Stations</a>
              <a class="dropdown-item" (click)="redirectToWebcams()">Webcams</a>
            </div>
          </li>
          <li *ngIf="!inArea" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/forecast">Forecast</a>
          </li>

          <li *ngIf="inArea" class=" mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" style="color: white !important;">{{ areaName }}</a>
          </li>
          <li *ngIf="inArea" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" (click)="setObservation()">Observations</a>
          </li>
          <li *ngIf="inArea" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" (click)="setForecast()">Forecast</a>
          </li>


          <!-- Interest Areas Dropdown (now identical to Observations) -->
          <li  *ngIf="logStringResult !== 'Login'" class="nav-item mx-0 mx-lg-1 dropdown">
            <a class="nav-link py-3 px-0 px-lg-3 dropdown-toggle" id="NavbarInterest" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Interest Areas
            </a>
            <div class="dropdown-menu" aria-labelledby="NavbarInterest">
              <a class="dropdown-item" *ngFor="let interestArea of interestAreaNames" (click)="redirectToInterestArea(interestArea.id!)">
                {{ interestArea.name }}
              </a>
              <a class="dropdown-item" (click)="redirectToCreateArea()">Create new area</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li *ngIf="logStringResult !== 'Login'" class="nav-item mx-0 mx-lg-1">
            <button type="button" class="btn btn-light" style="margin-right: 10px;" (click)="redirectToUser()">
              {{ logStringResult }}
            </button>
          </li>
          <li *ngIf="logStringResult !== 'Login'" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" (click)="logOut()">Log out</a>
          </li>
          <li *ngIf="logStringResult == 'Login'" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/login">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
