<div class="mainContainer" style="background-color: black; min-height: 50.3vh; display: flex; justify-content: space-around; align-items: center;">
    <div class="loginCardContainer" style="width: 45%;">
      <div class="front">
        <h2 style="margin-top: 10%; margin-left:10%">LOGIN UTENTE</h2>
        <div id="firstColumn">
          <div style="margin: 2%;">
            <label style="margin: 0 5px;">Email:</label>
            <input type="email" style="margin: 0 5px;" [(ngModel)]="loginUser.email" name="loginMail">
            <label style="margin: 0 5px; margin-top: 10%;">Password:</label>
            <input type="password" style="margin: 0 5px; margin-top: 3%;" [(ngModel)]="loginUser.password" name="loginPassword">
            <button mat-flat-button style="margin-left:1%; margin-bottom: 0.5%; color: rgb(149, 151, 149);" (click)="logInUser()">Accedi</button>
          </div>
        </div>
      </div>
    </div>

    <div class="divisore" style=" border: 1px solid white; height: 300px">
    </div>
      
  
  
  <div>
    <div>
      <button mat-button style="margin-bottom:15%; width: 100%" (click)="openResetPasswordModal()">Password dimenticata?</button>
    </div>


    <! -- Reset  Modal -->
    <div *ngIf="showResetPasswordModal" class="reset-password-modal" (click)="handleClickOutside($event)">
      <h2>Password dimenticata?</h2>
      <p>Inserisci la tua email per reimpostare la password:</p>
    
      <div style="display: flex; align-items: center;">
        <input type="email" [(ngModel)]="resetPasswordEmail" placeholder="Email" style="margin-right: 10px;">
        <button mat-flat-button (click)="resetPass()">Reset</button>
      </div>
    </div>