<div class="row" style="display: flex; height: 100vh;">
  <!-- Barra laterale sinistra -->
  <app-user style="flex: 0 0 250px; border-right: 1px solid #ddd; ;"></app-user>

  <!-- Contenitore della tabella -->
  <div class="table-container" style="flex: 1; padding: 10px;">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Company Name</th>
        <th>ID</th>
        <th>Description</th>
        <th>Payload Type</th>
        <th>Type</th>
        <th>Password</th>
        <th>Public?</th>
        <th>Interest Area ID</th>
        <th>Actions</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sensor of sensorList; let i = index">
        <td *ngIf="!sensor.isEditing">{{ sensor.companyName }}</td>
        <td *ngIf="sensor.isEditing">
          <input  type="text" class="form-control"  [(ngModel)]="sensor.companyName" />
        </td>

        <td>{{ sensor.id }}</td>

        <td *ngIf="!sensor.isEditing">{{ sensor.description }}</td>
        <td *ngIf="sensor.isEditing">
          <input  type="text" class="form-control"  [(ngModel)]="sensor.description" />
        </td>

        <td>{{ sensor.payloadType }}</td>

        <td *ngIf="!sensor.isEditing">{{ sensor.type }}</td>
        <td *ngIf="sensor.isEditing">
          <input  type="text" class="form-control"  [(ngModel)]="sensor.type" />
        </td>

        <td *ngIf="!sensor.isEditing"></td>
        <td *ngIf="sensor.isEditing">
          <input
            [(ngModel)]="tempPassword"
            (ngModelChange)="sensor.password = tempPassword"
            [type]="'password'"  type="text" class="form-control"
            placeholder="Enter new password"
          />
        </td>


        <td *ngIf="sensor.isEditing">
          <mat-radio-group [(ngModel)]="sensor.isPublic">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </td>
        <td *ngIf="!sensor.isEditing">
          <ng-container *ngIf="sensor.isPublic">Yes</ng-container>
          <ng-container *ngIf="!sensor.isPublic">No</ng-container>
        </td>

        <td>{{ sensor.interestAreaID }}</td>


        <td>
          <button style="margin: 4%" class="btn btn-primary" *ngIf="!sensor.isEditing" (click)="startEdit(sensor)">Modify</button>
          <button style="margin: 4%" class="btn btn-primary" *ngIf="sensor.isEditing" (click)="saveEdit(sensor)">Save</button>
          <button style="margin: 4%" class="btn btn-primary" *ngIf="sensor.isEditing" (click)="cancelEdit(sensor)">Cancel</button>
        </td>
      <td>
        <button  style="margin: 4%; background-color: darkred;  border-color: darkred" class="btn btn-primary" (click)="delete(sensor)">Delete</button>
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
