<div class="row">
  <app-user class="col-sm-2"></app-user>
  <div class="col" >
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-8 col-lg-6 col-xl-3" style="margin-top: 6rem; margin-bottom: 6rem" >
            <form (ngSubmit)="loadData()">
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" style="color: black">Latitude*:</label>
                <input type="email" id="latitude" class="form-control form-control-lg"
                       placeholder="Name:" name="latitude" [(ngModel)]="data.latitude" />
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" style="color: black">Longitude*:</label>
                <input type="email" id="longitude" class="form-control form-control-lg"
                       placeholder="Name:" name="longitude" [(ngModel)]="data.longitude" />
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label"  style="color: black">DataType*:</label>
                <input type="email" id="dataType" class="form-control form-control-lg"
                       placeholder="Name:" name="dataType" [(ngModel)]="data.payloadType" />
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label"  style="color: black">Sensor Id*:</label>
                <input type="email" id="sensorId" class="form-control form-control-lg"
                       placeholder="Name:" name="dataType" [(ngModel)]="data.sensorId" />
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label"  style="color: black">Sensor Password*:</label>
                <input type="email" id="password" class="form-control form-control-lg"
                       placeholder="Name:" name="dataType" [(ngModel)]="data.sensorPassword" />
              </div>


              <div class="form-group">
                <label class="form-label" style="color: black" for="file">Carica file payload:</label><br>
<!--                <input type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"-->
<!--                style="padding-left: 2.5rem; padding-right: 2.5rem;" type="file" id="file" name="file"  (change)="caricaFile($event)"> Scegli File </input>-->
               <input type="file" id="file" name="file"  (change)="caricaFile($event)">
              </div>
              <br>
              <br>
              <button type="submit" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!formValido()" (click)="loadData()">Carica dato</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
