
<div class="col-lg justify-content-md-center vh-100">
  <div id="map" style="height: 600px; min-height: 80%;">
    <button type="button" class="btn btn-light" id="refreshButton">
      List Sensor Name
    </button>
    <button type="button" class="btn btn-light" id="refreshButton2">
      List Sensor Name 2
    </button>
    <div class="legend"  style="background: linear-gradient(to right, rgb(40, 16, 159), rgb(40, 16, 159), rgb(40, 16, 159), rgb(40, 16, 159), rgb(24, 44, 168), rgb(0, 145, 148), rgb(0, 174, 129), rgb(70, 205, 96), rgb(195, 219, 38), rgb(245, 203, 8), rgb(244, 159, 33), rgb(223, 102, 68), rgb(190, 52, 94), rgb(157, 16, 109), rgb(157, 16, 109));">
      <span class="display_" style="width:14.285714285714286%">dBZ</span>
      <span class="display_" style="width: 14.285714285714286%">0</span>
      <span class="display_" style="width: 14.285714285714286%">20</span>
      <span class="display_" style="width: 14.285714285714286%">30</span>
      <span class="display_" style="width: 14.285714285714286%">40</span>
      <span class="display_" style="width: 14.285714285714286%">50</span>
      <span class="display_" style="width: 14.285714285714286%">60</span>
    </div>
  </div>
</div>
