@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");
.container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.sensor-select {
  margin-bottom: 8px; /* Adjust the distance from the component above */
}

.map {
  height: 800px;
  min-height: 90%;
  margin-top: -3%; /* Slightly overlap with the form field */
  z-index: 1
}

.overMap{
  position: absolute;
  z-index: 100;
}

#refreshButton{
  right: 20px;
  margin-top: 20px;
}

#refreshButton2{
  right: 20px;
  margin-top: 80px;
}



.legend{

  right: 45%;
  margin-top: 20px;
  width: 10%;
  display: inline-block;
}

.display_
{
  display: inline-block;
}

#calendar{
  margin-top: 5%;
}

#calendar2{
  margin-top: 20%;
}

.leftMenu{
  background-color: #2c3e50a8;
  border-radius: 25px;
  margin-top: 25%;
  margin-left: 1%;
  height: 30%;
  width: 10%;
}

.sidebar-content {
  display: block;
  /* Aggiungi la transizione per un effetto più fluido */
  transition: transform 0.3s ease;
}

.sidebar-content.hidden {
  display: none; /* Oppure usa `transform: translateX(-100%);` per spostarlo fuori vista */
}


.panel {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
}

.toggle-icon {
  cursor: pointer;
}

.panel-content {
  padding-top: 10px;
}

.toggle-icon::before {
  content: '▼'; /* Freccia giù per indicare pannello aperto */
}

.panel-content[hidden] .toggle-icon::before {
  content: '▲'; /* Freccia su per indicare pannello chiuso */
}








.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 85%;
  overflow: hidden;
  z-index: 2000; }
.sidebar.collapsed {
  width: 40px; }
@media (min-width: 768px) {
  .sidebar {
    top: 10px;
    bottom: 10px;
    transition: width 500ms; } }
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 305px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 390px; } }
@media (min-width: 1200px) {
  .sidebar {
    width: 460px; } }

.sidebar-left {
  left: 0; }
@media (min-width: 768px) {
  .sidebar-left {
    left: 10px; } }

.sidebar-right {
  right: 0; }
@media (min-width: 768px) {
  .sidebar-right {
    right: 10px; } }

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #10a2c7f2; }
.sidebar-left .sidebar-tabs {
  left: 0; }
.sidebar-right .sidebar-tabs {
  right: 0; }
.sidebar-tabs, .sidebar-tabs > ul {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none; }
.sidebar-tabs > li, .sidebar-tabs > ul > li {
  width: 100%;
  height: 40px;
  color: #333;
  font-size: 12pt;
  overflow: hidden;
  transition: all 80ms; }
.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
  color: #000;
}
@media (min-width: 768px) {
  .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
    background-color: #012b3700; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    background-color: #012b37; } }

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
  color: #000;
  background-color: #007e9e; }
.sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
  color: rgba(51, 51, 51, 0.4); }
.sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
  background: transparent; }
.sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
  cursor: default; }
.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  text-align: center; }
.sidebar-tabs > ul + ul {
  bottom: 0; }

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0px;
  background-color: #2c3e50e8;
  overflow-x: hidden;
  overflow-y: auto; }
.sidebar-left .sidebar-content {
  left: 40px;
  right: 0; }
.sidebar-right .sidebar-content {
  left: 0;
  right: 40px; }
.sidebar.collapsed > .sidebar-content {
  overflow-y: hidden; }

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
.sidebar-pane.active {
  display: block; }
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    min-width: 265px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-pane {
    min-width: 350px; } }
@media (min-width: 1200px) {
  .sidebar-pane {
    min-width: 440px; } }

.sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
}
.sidebar-right .sidebar-header {
  padding-left: 40px; }

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
.sidebar-left .sidebar-close {
  right: 0; }
.sidebar-right .sidebar-close {
  left: 0; }

.sidebar-left ~ .sidebar-map {
  margin-left: 0px; }
@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map {
    margin-left: 0; } }

.sidebar-right ~ .sidebar-map {
  margin-right: 40px; }
@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map {
    margin-right: 0; } }

.sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.sidebar.leaflet-touch {
  box-shadow: none;
  /* border-right: 2px solid rgba(0, 0, 0, 0.2); */
}
@media (min-width: 768px) {
  .sidebar {
    border-radius: 4px; }
  .sidebar.leaflet-touch {
    border: 2px solid rgba(0, 0, 0, 0.2); } }

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 400px; } }

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 470px; } }

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 50px; } }

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 400px; } }

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 470px; } }

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 50px; } }



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider2 {
  background-color: #2196F3;
}

input:focus+.slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}

.leaflet-top .leaflet-control {
  margin-top: 0px;
}

.space {
  padding: 10px
}

.white {
  font-size: 18px;
  color: #fff
}

.black {
  font-size: 18px;
  color: #fff
}






.my-legend .legend-title {
  font-weight: bold;
  font-size: 90%;
}

.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {

  float: left;
  width: 15px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

.my-legend ul.legend-labels li span {
  float: left;
  height: 20px;
  width: 15px;
}

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legend a {
  color: #777;
}




.my-legendPD .legend-titlePD {
  font-weight: bold;
  font-size: 90%;

}

.my-legendPD .legend-scalePD ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legendPD .legend-scalePD ul li {

  float: left;
  width: 20px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

.my-legendPD ul.legend-labelsPD li span {
  text-align: left;
  float: left;
  height: 20px;
  width: 20px;
}

.my-legendPD .legend-sourcePD {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legendPD a {
  color: #777;
}



.my-legendHRN .legend-titleHRN {
  font-weight: bold;
  font-size: 90%;

}

.my-legendHRN .legend-scaleHRN ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legendHRN .legend-scaleHRN ul li {

  float: left;
  width: 25px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

.my-legendHRN ul.legend-labelsHRN li span {
  text-align: left;
  float: left;
  height: 20px;
  width: 25px;
}

.my-legendHRN .legend-sourcePD {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legendHRN a {
  color: #777;
}


.my-legendU .legend-titleU {
  font-weight: bold;
  font-size: 90%;

}

.my-legendU .legend-scaleU ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legendU .legend-scaleU ul li {

  float: left;
  width: 17px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

.my-legendU ul.legend-labelsU li span {
  text-align: left;
  float: left;
  height: 20px;
  width: 17px;
}

.my-legendU .legend-sourcePD {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legendU a {
  color: #777;
}





.my-legendFWI .legend-titleU {
  font-weight: bold;
  font-size: 90%;

}

.my-legendFWI .legend-scaleFWI ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legendFWI .legend-scaleFWI ul li {

  float: left;
  width: 30px;
  margin-bottom: 6px;
  margin-right: 35px;
  text-align: center;
  font-size: 100%;
  list-style: none;
}

.my-legendFWI ul.legend-labelsFWI li span {

  float: left;
  height: 20px;
  width: 35px;
}

.my-legendFWI .legend-sourcePD {
  font-size: 70%;
  color: #999;
  clear: both;
}

.my-legendFWI a {
  color: #777;
}

footer {
  position: fixed;
  height: 50px;
  margin-top: 1em;
  margin-bottom: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  background: green;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 10px
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}



.sidebar-right {
  width: 200px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  border-radius: 8px;
  z-index: 1000;
}

.sensor-buttons {
  list-style-type: none;
  padding: 0;
}

.sensor-buttons li {
  margin-bottom: 10px;
}

.sensor-buttons button {
  width: 100%;
}
