<div class="row">
  <app-user class="col-sm-2"></app-user>
  <div class="col">
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-8 col-lg-6 col-xl-3" style="margin-top: 6rem; margin-bottom: 6rem;">
            <form (ngSubmit)="loadData()">
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" style="color: black">Latitude*:</label>
                <input type="number" id="latitude" class="form-control form-control-lg"
                       placeholder="Latitude:" name="latitude" [(ngModel)]="data.latitude" />
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" style="color: black">Longitude*:</label>
                <input type="number" id="longitude" class="form-control form-control-lg"
                       placeholder="Longitude:" name="longitude" [(ngModel)]="data.longitude" />
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" style="color: black">Sensor Id*:</label>
                <select name="sensorId" [(ngModel)]="data.sensorId" class="form-select" aria-label="Select Endpoint">
                  <option *ngFor="let area of endPointsInfo" [value]="area.id">
                    {{area.description}} - {{area.companyName}}
                  </option>
                </select>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" style="color: black">Sensor Password*:</label>
                <input type="text" id="password" class="form-control form-control-lg"
                       placeholder="Sensor Password:" name="sensorPassword" [(ngModel)]="data.sensorPassword" />
              </div>

              <div class="form-group">
                <label class="form-label" style="color: black" for="file">Carica file payload:</label><br>
                <input type="file" id="file" name="file" (change)="caricaFile($event)">
              </div>

              <br><br>
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!formValido()">Carica dato</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
